<IfModule mod_rewrite.c>
  RewriteEngine On

  # Let backend API routes be handled by /api folder rules
  RewriteRule ^api(/|$) - [L]

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html [L]
</IfModule>
